{% extends 'homepage.html' %}
{% load static %}



{% block carousel %}


{% endblock %}


{% block center %}
<div class="container-fluid bg-dark p-5">
  <h4 class="text-success text-uppercase fs-3 text-center p-3 site"><img src="{% static 'images/heading-arrow.png' %}" class="mb-4">PAIDOUT LIST</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center">

     <iframe src="https://www.btcwidget.info/widget/liveTx/%23000000/%23000000/%23000000/%23ffffff/%23000000/350/600/10" width="350" height="600" frameBorder="0" scrolling="no"></iframe>
        
      </div>
      
    </div>
    
  </div>
 


</div>

{% endblock %}

{% block faq %}



{% endblock %}

{% block stats %}


{% endblock %}

{% block security %}

{% endblock %}

{% block investment %}

{% endblock %}

{% block withdrawals %}

{% endblock%}

