
.parent{
    width:100%;
    height:40rem;
    font-family: 'Roboto', sans-serif;
    
    }
    
    .child-one{
        width:100%;
        height:10rem;
        
        background:#7b68ee;
        color:white;
        font-family: 'Roboto', sans-serif;
        
      
        
    }
    
    .child-two{
        width:100%;
        height:30rem;
       color: white;
        background:black;
        text-align: left;
        font-family: 'Roboto', sans-serif;

    }


.owl-img{

height: 10vh;
width: 100%;

}